* {
  box-sizing: border-box; }

html {
  overflow-y: scroll;
  margin: 0;
  padding: 0; }

body {
  background: #EFEFEF;
  font-size: 19px;
  color: #333;
  line-height: 1.5;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0; }

#site__header {
  background: #222;
  height: 80px; }

#site__footer {
  background: #222;
  height: 80px; }

#site__main {
  width: 1200px;
  margin: 50px auto; }

.article .article__header {
  text-align: center;
  margin-bottom: 30px; }
  .article .article__header h1 {
    font-size: 60px;
    margin: 0 0 15px; }

.article .article__image img {
  max-width: 100%; }

.byline {
  color: #777;
  text-align: center; }
  .byline .byline__box {
    display: inline-block;
    margin-right: 20px; }
    .byline .byline__box:last-child {
      margin-right: 0; }
