* {
  box-sizing: border-box; }

html {
  overflow-y: scroll;
  margin: 0;
  padding: 0; }

ul {
  margin: 0; }

body {
  background: #EFEFEF;
  font-size: 19px;
  line-height: 1.5;
  color: #333;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  color: #1a1a1a;
  line-height: 1.25; }

#site__header {
  background: #222;
  height: 80px; }

#site__footer {
  background: #222;
  height: 80px; }

#site__main {
  width: 1200px;
  margin: 50px auto; }

.article .article__header {
  text-align: center;
  margin-bottom: 30px; }
  .article .article__header h1 {
    font-size: 60px;
    margin: 0 0 15px; }

.article .article__image {
  display: flex; }
  .article .article__image img {
    max-width: 100%; }

.article .article__inner {
  background: #FFF; }

.article--single .article__inner {
  display: flex;
  padding: 80px; }

.article--single .sidebar {
  padding-right: 40px;
  margin-right: 40px;
  border-right: 1px solid #BBB;
  flex: 0 0 300px; }

.content p, .content pre, .content ul, .content ol, .content table, .content img, .content > div {
  margin-top: 0;
  margin-bottom: 35px; }

.content a {
  text-decoration: none;
  transition: 0.3s ease all;
  display: inline-block;
  padding: 3px 8px;
  color: #0052ad; }
  .content a:hover {
    background: #e0efff;
    color: #002247; }

.content h2 {
  font-size: 70px;
  margin: 50px 0; }

.content h3 {
  margin: 50px 0;
  font-size: 40px; }

.content li {
  margin-bottom: 12px; }

.content img {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  border-radius: 4px; }

.content pre {
  background: #1a1a1a;
  color: #cccccc;
  padding: 50px;
  border-radius: 4px;
  border-left: 20px solid #1483FF; }

.byline {
  color: #777;
  text-align: center; }
  .byline .byline__box {
    display: inline-block;
    margin-right: 20px; }
    .byline .byline__box:last-child {
      margin-right: 0; }

.actions {
  background: #1483FF;
  padding: 40px 0;
  text-align: center; }
  .actions .actions__btn {
    display: inline-block;
    color: #FFF;
    text-decoration: none;
    font-size: 28px;
    margin-right: 20px;
    border: 3px solid #FFF;
    border-radius: 20px;
    padding: 20px 40px;
    transition: 0.3s ease background,    0.3s ease border-radius; }
    .actions .actions__btn:hover {
      background: #479eff;
      border-radius: 0; }
    .actions .actions__btn:last-child {
      margin-right: 0; }

.sidebar {
  width: 300px; }
  .sidebar .sidebar__box {
    margin-bottom: 20px; }
    .sidebar .sidebar__box:last-child {
      margin-bottom: 0; }
  .sidebar h3 {
    margin: 0 0 20px;
    color: #666666;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300; }
  .sidebar img {
    max-width: 100%; }

.table-of-contents {
  list-style: none; }
  .table-of-contents a {
    font-size: 18px;
    display: block;
    padding: 5px 0;
    text-decoration: none;
    color: #737373; }
    .table-of-contents a:hover {
      text-decoration: underline; }
