$primary-color: #1483FF;
$text-color: #333;
$header-text-color: darken($text-color, 10%);

// RESET =========================
* {
  box-sizing: border-box;
}
html {
  overflow-y: scroll;
  margin: 0;
  padding: 0;
}
ul  {
  margin: 0;
}

// BASE STYLES ==================
body {
  background: #EFEFEF;
  font-size: 19px;
  line-height: 1.5;
  color: $text-color;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6 {
  color: $header-text-color;
  line-height: 1.25;
}

// HEADER =======================
#site__header {
  background: #222;
  height: 80px;
}

// FOOTER ========================
#site__footer {
  background: #222;
  height: 80px;
}

// MAIN CONTENT =================
#site__main   {
  width: 1200px;
  margin: 50px auto;
}

// ARTICLE ======================
.article {
  
  // HEADER
  .article__header {
    text-align: center;
    margin-bottom: 30px;

    h1  {
      font-size: 60px;
      margin: 0 0 15px;
    }
  }  

  // FEATURED IMAGE
  .article__image {
    display: flex;

    img   {
      max-width: 100%;
    }
  }

  // ARTICLE INNER 
  .article__inner {
    background: #FFF;
  }

  // ARTICLE FOOTER
  .article__footer {

  }

}

// ARTICLE SINGLE =================
$article-padding: 80px;

.article--single {
  .article__inner   {
    display: flex;
    padding: $article-padding;
  }

  .sidebar {
    padding-right: ($article-padding / 2);
    margin-right: ($article-padding / 2);
    border-right: 1px solid #BBB;
    flex: 0 0 300px;
  }
}

// CONTENT BASE STYLES =============
.content {

  p, pre, ul, ol, table, img, > div {
    margin-top: 0;
    margin-bottom: 35px;
  }

  a {
    text-decoration: none;
    transition: 0.3s ease all;
    display: inline-block;
    padding: 3px 8px;
    color: darken($primary-color, 20%);

    &:hover {
      background: lighten($primary-color, 40%);
      color: darken($primary-color, 40%);
    }
  }

  h2  {
    font-size: 70px;
    margin: 50px 0;
  }
 
  h3  {
    margin: 50px 0;
    font-size: 40px;
  }

  li  {
    margin-bottom: 12px;    
  }

  img {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    border-radius: 4px;
  }

  pre {
    background: darken($text-color, 10%);
    color: lighten($text-color, 60%);
    padding: 50px;
    border-radius: 4px;
    border-left: 20px solid $primary-color;
  }

} // .content

// BYLINE ===================
.byline {
  color: #777;
  text-align: center;

  .byline__box {
    display: inline-block;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }
}

// ACTIONS =================
.actions  {
  background: $primary-color;
  padding: 40px 0;
  text-align: center;
  
  .actions__btn   {
    display: inline-block;
    color: #FFF;
    text-decoration: none;
    font-size: 28px;
    margin-right: 20px;
    border: 3px solid #FFF;
    border-radius: 20px;
    padding: 20px 40px;
    transition: 0.3s ease background,   
                0.3s ease border-radius;

    &:hover   {
      background: lighten($primary-color, 10%);
      border-radius: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

// SIDEBAR ==================
$sidebar-width: 300px;

.sidebar {
  width: $sidebar-width;

  .sidebar__box {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  h3  {
    margin: 0 0 20px;
    color: lighten($text-color, 20%);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
  }

  img {
    max-width: 100%;
  }
}

// TABLE OF CONTENTS ===============
.table-of-contents  {
  list-style: none;

  a   {
    font-size: 18px;
    display: block;
    padding: 5px 0;
    text-decoration: none;
    color: lighten($text-color, 25%);

    &:hover {
      text-decoration: underline;
    }
  }
}